body {
    background-color: crimson;
}

header {
    background-color: black;
}

h1 {
    float: left;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    padding: 0px;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vh;
    color: black;
    box-shadow: 10px 5px 5px black;
    border-radius: 1vh;
    padding: 1vh
}

h2 a:hover {
    color: black;
    background-color: white;
}

header .brand {
    display: flex;
    justify-content: flex-end;
    height: 20vh;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.bar {
    height: 80vh;
    background-image: url("../img/design2.jpg");
    background-size: cover;
}

nav a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5vh;
    padding: 1vh;
    color: white;
    box-shadow: 10px 5px 5px black;
    background-color: crimson;
    border-radius: 1vh;
}

nav a:hover {
    color: black;
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1 {
    margin: 5vh;
    padding: 5vh;
    color: white;
    background-color: black;
    box-shadow: 10px 5px 5px white;
}

.box2 {
    margin: 5vh;
    padding: 5vh;
    color: white;
    background-color: black;
    box-shadow: 10px 5px 5px white;
}

.box3 {
    margin: 5vh;
    padding: 5vh;
    color: white;
    background-color: black;
    box-shadow: 10px 5px 5px white;
}

.contact {
    margin: 5vh;
    padding: 5vh;
    color: white;
    background-color: black;
    box-shadow: 10px 5px 5px white;
}

.mailto a {
    text-decoration: none;
    color: white;
}

.mailto a:hover {
    color: white;
    background-color: crimson;
}

.rules {
    margin: 2vh;
    padding: 2vh;
    color: white;
    background-color: black;
    box-shadow: 10px 5px 5px white;
}

.rules h2 {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center
}

ol {
    list-style-type: lower-alpha;
}

ul {
    list-style-type: circle
}

.gameI {
    margin: 2vh;
    padding: 2vh;
    color: white;
    background-color: black;
    box-shadow: 10px 5px 5px white;
}

.gameI h2 {
    display: flex;
    justify-content: center;
}

.italic {
    font-style: italic;
}

.subrayado {
    text-decoration: underline;
    text-decoration-color: white;
}

table,
tr,
th,
td {
    border: 1px solid white;
    padding: 2vh;
}

table {
    border-collapse: collapse;
}

.tableJus {
    display: flex;
    justify-content: center;
    margin: 6vh;
}

.gameI p {
    padding: 2vh;
}

.contactGame {
    display: flex;
    justify-content: space-between
}

.form-complete {
    margin: 2vh;
    padding: 2vh;
    color: white;
    background-color: black;
    box-shadow: 10px 5px 5px white;
}

.form1 label {
    margin: 20vh;
}

fieldset {
    margin: 5vh;
}

form h3 {
    margin-left: 5vh;
}

.permission {
    margin: 5vh;
}

.permission label {
    margin: 18vh
}

.butt {
    display: flex;
    justify-content: center;
    margin: 0vh;
    padding: 0vh;
}

.send {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0vh;
    padding: 2vh;
    color: white;
    box-shadow: 10px 5px 5px black;
    background-color: crimson;
    border-radius: 1vh;
}